<a href="https://colab.research.google.com/github/Amoako419/Learning_ML/blob/main/Titanic_dataset(outliers).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns

# Load the Titanic Dataset
titanic_df = sns.load_dataset('titanic')

# Ensure that 'age' and 'fare' columns do not have null values
titanic_df = titanic_df.dropna(subset=['age', 'fare'])

# Compute Z-scores for 'age' and 'fare' using sample standard deviation (ddof=1)
mean_age = np.mean(titanic_df['age'])
std_dev_age = np.std(titanic_df['age'], ddof=1)
Z_scores_age = (titanic_df['age'] - mean_age) / std_dev_age
outliers_age = titanic_df['age'][np.abs(Z_scores_age) > 2.5]

# TODO: Calculate the mean and sample standard deviation for the 'fare' column, then compute the Z-scores.
mean_fare = np.mean(titanic_df['fare'])
std_dev_fare = np.std(titanic_df['fare'], ddof=1)
Z_scores_fare = (titanic_df['fare'] - mean_fare) / std_dev_fare
outliers_fare = titanic_df['fare'][np.abs(Z_scores_fare) > 2.5]

# Print the outliers
print("Outliers in 'Age' using Z-score: \n", outliers_age)
# TODO: Print the outliers for 'fare' using Z-scores.
print("Outliers in 'Fare' using Z-score: \n", outliers_fare)

Outliers in 'Age' using Z-score:
 96     71.0
116    70.5
493    71.0
630    80.0
672    70.0
745    70.0
851    74.0
Name: age, dtype: float64
Outliers in 'Fare' using Z-score:
 27     263.0000
88     263.0000
118    247.5208
258    512.3292
299    247.5208
311    262.3750
341    263.0000
377    211.5000
380    227.5250
438    263.0000
679    512.3292
689    211.3375
700    227.5250
716    227.5250
730    211.3375
737    512.3292
742    262.3750
779    211.3375
Name: fare, dtype: float64

# **Outliers in age using inter quatile range implementation**

In [2]:
# Import the necessary libraries
import numpy as np
import seaborn as sns

# TODO: Load the Titanic dataset and store it in a variable named 'titanic_df'
data = sns.load_dataset('titanic')
# TODO: Drop any rows with missing values in the 'age' column
ageNA = data['age'].dropna().isnull().sum()
# TODO: Calculate the first and third quartile of the 'age' column and store them in variables 'Q1_age' and 'Q3_age'
Q1_age = data['age'].quantile(0.25)
Q3_age = data['age'].quantile(0.75)
# TODO: Calculate the Interquartile Range (IQR) for the 'age' column and store it in a variable 'IQR_age'
IQR_age = Q3_age - Q1_age
# TODO: Using IQR, identify any age values that are outliers and store them in a variable called 'outliers_age'
outliers_age = data['age'][(data['age']<(Q1_age-1.5 * IQR_age))| (data['age']>(Q3_age + 1.5 * IQR_age))]
# TODO: Output the outliers found in the 'age' column
print(outliers_age)

33     66.0
54     65.0
96     71.0
116    70.5
280    65.0
456    65.0
493    71.0
630    80.0
672    70.0
745    70.0
851    74.0
Name: age, dtype: float64

In [3]:
# Import the necessary libraries
import numpy as np
import seaborn as sns

# Load the Titanic Dataset
titanic_df = sns.load_dataset('titanic')

# TODO: Ensure that 'age' column does not have null values
titanic_df.dropna(subset=['age'],inplace = True)
# TODO: Compute IQR for 'age' by finding the first and third quartile and their difference
Q1 = titanic_df['age'].quantile(0.25)
Q3 = titanic_df['age'].quantile(0.75)
IQR = Q3 - Q1
# TODO: Using the computed IQR, identify and assign the outliers in 'age' to the variable outliers_age
outliers_age = titanic_df['age'][(titanic_df['age']<(Q1 - 1.5 * IQR)) | (titanic_df['age']>(Q3+1.5*IQR))]
# Print the outliers
print("Outliers in 'Age' using IQR: \n", outliers_age)

Outliers in 'Age' using IQR:
 33     66.0
54     65.0
96     71.0
116    70.5
280    65.0
456    65.0
493    71.0
630    80.0
672    70.0
745    70.0
851    74.0
Name: age, dtype: float64